name: Train, Save, Build, Push

on:
  push:
    branches:
      - main

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout kode
      - name: Set up job
        uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # 3. Check env
      - name: Check Env
        run: |
          python --version
          pip --version

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      # Set up Conda
      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto_activate: true

      # Run MLflow project
      - name: Run mlflow project
        id: mlflow_run
        shell: bash -l {0}
        run: |
          # Perintah debug untuk memastikan conda aktif
          echo "Menjalankan 'conda info' untuk debugging:"
          conda info
          echo "Menjalankan mlflow run..."
          mlflow run . --experiment-name "ci-cd-prod"

      # Get latest MLflow run_id
      - name: Get latest MLflow run_id
        id: get_run
        shell: bash -l {0}
        run: |
          LATEST_RUN_PATH=$(find mlruns -name MLmodel | sort -r | head -n 1 | xargs dirname)
          echo "Latest artifact path is: $LATEST_RUN_PATH"
          echo "MODEL_URI_PATH=$LATEST_RUN_PATH" >> $GITHUB_OUTPUT

      # Upload Artifact
      - name: Upload to Google Drive (Simulasi ke Artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: mlruns-artifact
          path: mlruns/

      # Build Docker Model
      - name: Build Docker Model
        id: build_docker
        shell: bash -l {0}
        run: |
          mlflow build-docker --model-uri "${{ steps.get_run.outputs.MODEL_URI_PATH }}" --image-name "my-fraud-model"
          echo "IMAGE_NAME=my-fraud-model" >> $GITHUB_OUTPUT

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      # Tag Docker Image
      - name: Tag Docker Image
        id: tag_image
        run: |
          IMAGE_TAG="${{ secrets.DOCKER_HUB_USERNAME }}/fraud-model:latest"
          docker tag ${{ steps.build_docker.outputs.IMAGE_NAME }} $IMAGE_TAG
          echo "IMAGE_TAG_NAME=$IMAGE_TAG" >> $GITHUB_OUTPUT

      # Push Docker Image
      - name: Push Docker Image
        run: |
          docker push ${{ steps.tag_image.outputs.IMAGE_TAG_NAME }}

      # Post Log in
      - name: Post Log in to Docker Hub
        if: always()
        run: echo "Job finished."
